%form{:method => 'POST', :action => "/"}
  %p
    %textarea{:name => 'phrase', :id => 'phrase', :rows => 30, :style => "width: 100%"}
  %p
    %input.submit{:type => :submit, :value => "Critique it!"}
