<form action="/" method ="post" accept-charset="utf-8">
    <p>
    <textarea rows="10" style="width: 50%" id="phrase" name="phrase" value=""></textarea>
        </p>
        <input type="submit" value="...and critique it!">
</form>
