<!DOCTYPE html>
<html lang="en">
<head>
<title>Critique</title>
<meta charset=utf-8 />


<style type="text/css">
span:hover {
    background:#fffca3;
    /*border-color:#fffdc2;
    border-style:solid;*/
}
span {
    color:#000000;
    text-decoration: none;
    /*padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;*/
}
body {
    background:#fffef5;
    font: Georgia;
    font-size: 18px;
}
div#main_text {
    width: 35em;
    margin-left: 1.5em;
    float:left;

}
div#comment_box {
    width: 15em;
    position: fixed;
    top: 30%;
    left: 37em;
    
}

div#footer {
    clear: both;
}
p {
    line-height: 1.4em;
    margin-bottom: .2em;
    margin-top: .2em;
}
p + p {
    text-indent: 1em;
}
</style>


</head>
<body>
<h1>Critique</h1>
<h2><%= @title %></h2>

<%= yield %>
<div id="footer">
<p>First portion of Waylaid.org</p>
</div>
</body>
</html>
