<h3>Here is your tokenized text...</h3>

<div id="main_text">
<%= @text %>
</div>

<div id="comment_box">
<form action="/" method ="post" accept-charset="utf-8">
    <p>
    <textarea rows="10" style="width: 100%" id="phrase" name="phrase" value=""></textarea>
        </p>
        <input type="submit" value="Comment">
</form>
</div>


<!--<%= @stuff %>-->
